<ul id="navsidebar-links" class="nav flex-column">
  <!-- What Matters Link -->
  <li class="nav-item">
    <a id="what-matters-link"
       class="nav-link link-scuffed-light-grey multi-collapse"
       data-toggle="collapse"
       data-target="#what-matters-sub-sections"
       aria-expanded="false"
       onclick="jumpToSection('what-matters')">
      What Matters
    </a>
    <div class="collapse" id="what-matters-sub-sections">
      <ul class="nav sub-section">
        <li>
          <a id="the-slow-shift-link"
             href="#the-slow-shift"
             class="nav-link link-scuffed-light-grey">
            The Slow Shift
          </a>
        </li>
        <li>
          <a id="environmental-justice-link"
             href="#environmental-justice"
             class="nav-link link-scuffed-light-grey">
            Environmental Justice
          </a>
        </li>
        <li>
          <a id="quality-and-quantity-link"
             href="#quality-and-quantity"
             class="nav-link link-scuffed-light-grey">
            Quality and Quantity
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Mission Link -->
  <li class="nav-item">
    <a id="mission-link"
       class="nav-link link-scuffed-light-grey"
       href="#mission"
       onclick="closeAllCollapsed('mission-link');">
      Mission
    </a>
  </li>

  <!-- How it Works Link -->
  <li class="nav-item">
    <a id="how-it-works-link"
       class="nav-link link-scuffed-light-grey"
       href="#how-it-works"
       onclick="closeAllCollapsed('how-it-works-link');">
      How it Works
    </a>
  </li>

  <!-- Ethics Link -->
  <li class="nav-item">
    <a id="ethics-link"
       class="nav-link link-scuffed-light-grey multi-collapse"
       data-toggle="collapse"
       data-target="#ethics-sub-sections"
       aria-expanded="false"
       onclick="jumpToSection('ethics')">
      Ethics
    </a>
    <div class="collapse" id="ethics-sub-sections">
      <ul class="nav sub-section">
        <li>
          <a id="vegan-link"
             href="#vegan"
             class="nav-link link-scuffed-light-grey">
            Vegan
          </a>
        </li>
        <li>
          <a id="no-single-use-plastics-link"
             href="#no-single-use-plastics"
             class="nav-link link-scuffed-light-grey">
            No Single-Use Plastics
          </a>
        </li>
        <li>
          <a id="non-hierarchical-and-non-oppressive-link"
             href="#non-hierarchical-and-non-oppressive"
             class="nav-link link-scuffed-light-grey">
            Non-hierarchical & Non-oppressive
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Network Allies Links -->
  <li class="nav-item">
    <a id="network-allies-link"
       class="nav-link link-scuffed-light-grey multi-collapse"
       data-toggle="collapse"
       data-target="#network-allies-sub-sections"
       aria-expanded="false"
       onclick="jumpToSection('network-allies')">
      Network Allies
    </a>
    <div class="collapse" id="network-allies-sub-sections">
      <ul class="nav sub-section">
        <li>
          <a id="support-link"
             href="#support"
             class="nav-link link-scuffed-light-grey">
            Support
          </a>
        </li>
        <li>
          <a id="somi-sek-village-base-camp-link"
             href="#somi-sek-village-base-camp"
             class="nav-link link-scuffed-light-grey">
            Somi Se’k Village Base Camp
          </a>
        </li>
        <li>
          <a id="crawfish-revolution-link"
             href="#crawfish-revolution"
             class="nav-link link-scuffed-light-grey">
            Crawfish Revolution
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Action Taken Link -->
  <li class="nav-item">
    <a id="action-taken-link"
       class="nav-link link-scuffed-light-grey multi-collapse"
       data-toggle="collapse"
       data-target="#action-taken-sub-sections"
       aria-expanded="false"
       onclick="jumpToSection('action-taken')">
      Action Taken
    </a>
    <div class="collapse" id="action-taken-sub-sections">
      <ul class="nav sub-section">
        <li>
          <a id="collective-funds-link"
             href="#collective-funds"
             class="nav-link link-scuffed-light-grey">
            Collective Funds
          </a>
        </li>
        <li>
          <a id="generous-supporters-link"
             href="#generous-supporters"
             class="nav-link link-scuffed-light-grey">
            Generous Supporters
          </a>
        </li>
      </ul>
    </div>
  </li>

  <!-- Event Donating Link -->
  <li class="nav-item">
    <a id="event-donating-link"
       class="nav-link link-scuffed-light-grey"
       href="#event-donating"
       onclick="closeAllCollapsed('event-donating-link');">
      Event Donating
    </a>
  </li>
</ul>























<%# EOF %>
