<ul id="navsidebar-links" class="nav flex-column text-scuffed-light-grey">
  <!-- Filters -->
  <li class="nav-item pl-2 pb-2">Filter By:</li>
  <li class="pl-2">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="terms-and-conditions">
        Day
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="terms-and-conditions">
        Month
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="terms-and-conditions">
        Year
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="terms-and-conditions">
        Day
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="terms-and-conditions">
        Time
      </label>
    </div>
    <!-- <label class="pt-2">Time</label> -->
    <!-- <div class="checkbox row pl-3 pr-1">
      <label class="mr-sm-2 sr-only" for="time-range-1">time 1</label>
      <select class="custom-select col-3 mr-sm-2" id="time-range-1">
        <option value="1" selected>1</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">1</option>
        <option value="5">Two</option>
        <option value="6">Three</option>
        <option value="7">1</option>
        <option value="8">Two</option>
        <option value="9">Three</option>
        <option value="10">1</option>
        <option value="11">Two</option>
        <option value="12">Three</option>
      </select>
      <label class="mr-sm-2 sr-only" for="abbreviation-1">abbreviation 1</label>
      <select class="custom-select col-1 mr-sm-2" id="abbreviation-1">
        <option value="1" selected>am</option>
        <option value="2">pm</option>
      </select>
      <label class="mr-sm-2 sr-only" for="time-range-2">time 2</label>
      <select class="custom-select col-3 mr-sm-2" id="time-range-2">
        <option value="1" selected>1</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">1</option>
        <option value="5">Two</option>
        <option value="6">Three</option>
        <option value="7">1</option>
        <option value="8">Two</option>
        <option value="9">Three</option>
        <option value="10">1</option>
        <option value="11">Two</option>
        <option value="12">Three</option>
      </select>
      <label class="mr-sm-2 sr-only" for="abbreviation-2">time 2</label>
      <select class="custom-select col-1 mr-sm-2" id="abbreviation-2">
        <option value="1" selected>am</option>
        <option value="2">pm</option>
      </select>
    </div> -->
  </li>
</ul>























<%# EOF %>
