<footer id="footer" class="flex-column justify-content-center bg-vanilla-grey text-vanilla-grey"
        style="box-shadow: 1px -2px 8px #dddddd;">
    <div id="social" class="d-flex justify-content-center">
      <i class="fab fa-twitter link-scuffed-dark-grey"></i>
      <i class="fab fa-facebook link-scuffed-dark-grey"></i>
      <i class="fab fa-instagram link-scuffed-dark-grey"></i>
      <i class="fas fa-envelope link-scuffed-dark-grey"></i>
    </div>
    <div id="copyright"
         class="d-flex justify-content-center text-scuffed-dark-grey">
      <p>© Copyright 2018 - 2020 Global Movement Network</p>
    </div>
</footer>
