<!-- Nav Bar -->
<header id="navbar" class="row align-items-center">
  <!-- Brand Logo -->
  <a href="/" class="col-7">
    <img id="gmn-logo"
         src="images/gmn-logo-no-bkgrnd.png"
         alt="Global Movment Network Logo">
  </a>

  <!-- Nav Links -->
  <div id="navbar-links" class="col-5 text-scuffed-dark-grey">
    <a class="navbar-link">About</a>
    <a class="navbar-link">Events</a>
    <a class="navbar-link">Contact</a>
    <a class="navbar-link">Login</a>
    <button id="donate-button"
            type="button"
            class="btn bg-mtn-shadow-blue text-center">
      <a class="text-vanilla-grey">Donate</a>
    </button>
  </div>
</header>
