<!-- Nav Bar -->
<header id="navbar" class="row">
  <!-- Brand Logo -->
  <div class="col-6 col-sm-7">
    <a href="/" >
      <img id="gmn-logo"
           class="shrink"
           src="images/gmn-logo-no-bkgrnd.png"
           alt="Global Movment Network Logo">
    </a>
  </div>

  <!-- Nav Links -->
  <div id="navbar-links" class="col-7 col-sm-5">
    <a class="navbar-link <%=navbarLinkColor%>" href="/about">About</a>
    <a class="navbar-link <%=navbarLinkColor%>" href="/events">Events</a>
    <a class="navbar-link <%=navbarLinkColor%>" href="/contact">Contact</a>
    <a class="navbar-link <%=navbarLinkColor%>" href="/login">Login</a>
    <button id="donate-button"
            type="button"
            class="btn shrink text-center">
      <a class="">Donate</a>
    </button>
  </div>
</header>
